<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O Festival</h2>
                    <h2 class="section-heading text-center">15/10/2022 - Ginásio da Unicamp</h2>
                </div>
                <div class="col-lg-12">
                    <p class="text-muted larger">Você está convidado a participar do Festival Ciência de Papel. Este é um grande festival aberto a toda a comunidade (crianças e jovens, famílias e escolas), que acontecerá no dia 15/10/2022 no Ginásio da Unicamp:</p>
                </div>
                <img width="100%" src="img/programa/programacao.svg">
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/icons/virus-papel-icon.svg" class="img-responsive fa-stack-1x img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Oficinas</h4>
                    <p class="text-muted">Oficinas mão na massa com horários definidos (veja programa). As oficinas não exigem inscrição prévia, é só chegar e participar.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/icons/aviao-papel-icon.svg" class="img-responsive fa-stack-1x img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Desafio</h4>
                    <p class="text-muted">Há duas oficinas especiais de Aviões (manhã) e de Foguetes (tarde). Ao final das oficinas, terenos o momento do Grande Lançamento, em que os participantes são desafiados com suas criações.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/icons/dinossauro-papel-icon.svg" class="img-responsive fa-stack-1x img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Museu Interativo</h4>
                    <p class="text-muted">Este é o nosso Museu de Papel! Nosso desafio é trazer-lhe experiências de ciência com papel. Microrganismos; animais pré-históricos; espaço; ficção científica e autômatos. O museu é interativo, você será convidado a contribuir com suas criações.</p>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h3 class="section-heading">Comunidade Interna Unicamp</h3>
                    <h3 class="section-subheading text-muted">Se você é da comunidade interna da Unicamp (alunos, professores e funcionários da Unicamp) e quer contribuir na produção do Museu de Papel, <a href="comunidade-unicamp/">clique aqui.</a></h3>
                </div>
            </div>
            -->
        </div>
    </section>
