<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Trilha Grande Desafio</h2>
                    <h3 class="section-subheading text-muted">Esta modalidade envolve duas provas: os aviões e os foguetes de papel. Abaixo, segue o passo a passo:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gd/gd-1-equipes.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Antes do Festival</h4>
                                    <h4 class="subheading">Inscrições</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As equipes podem se inscrever em uma das provas ou em ambas. A inscrição tem que acontecer por este formulário antes do dia do Festival (15/10/2022).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gd/gd-2-projeto.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Antes do Festival</h4>
                                    <h4 class="subheading">Projeto e Testes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cada equipe projetará e testará quantos aviões ou foguetes quiser. Para a construção dos aviões ou foguetes é permitido exclusivamente o uso de papel e cola. Não é permitido o uso de qualquer tipo de metal (exceto papel alumínio), madeira ou plástico, por exemplo. Pode ser usado barbante exclusivamente para os paraquedas dos foguetes. Os tipos de papel aceito são: papel offset, papel couchê, papel revista ou jornal, cartolina, papel cartão e papel alumínio. Em qualquer caso, só é aceito o uso de papel flexível com gramatura de no máximo 300 g/m2. Não é permitido o uso de papel rígido, como o Panamá e Paraná.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gd/gd-3-testes.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fim de Semana no Museu 17/09</h4>
                                    <h4 class="subheading">Dia de Testes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">No sábado, 17/09, as equipes poderão testar os seus foguetes nos lançadores que serão disponibilizados pelo Museu. As equipes podem comparecer em qualquer horário pela manhã, a partir das 9h, sem agendamento. Pela tarde, serão feitas oficinas de foguetes de papel (com agendamento) em que seus foguetes poderão ser testados com orientação.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gd/gd-4-prova.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Durante o Festival</h4>
                                    <h4 class="subheading">Grande Dia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">No dia da prova terá direito a apenas três lançamentos por prova. A equipe poderá usar o mesmo avião ou foguete em ambos os lançamentos ou um diferente para cada lançamento.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gd/gd-5-premio.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Durante o Festival</h4>
                                    <h4 class="subheading">Avaliação e Premiação</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ao final das provas haverá avaliação pelos seguintes critérios. Foguetes: maior distância horizontal; mais tempo no ar com paraquedas; design (categoria demonstrativa); melhor Diário de Campo. Aviões: maior distância horizontal; mais tempo no ar; acrobacia (categoria demonstrativa); melhor Diário de Campo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
