<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Museu de Papel</h2>
                    <img src="img/museu/museu-papel.png" width="100%">
                    <h3>Galeria no Pinterest com ideias para Temas</h3>
                    <a href="https://pin.it/2DfoWwz" target="_blank"><img src="img/museu/pinterest-temas.png" width="100%"></a>
                    <hr>
                    <h3>Galeria no Pinterest com ideias de Técnicas</h3>
                    <a href="https://pin.it/GtUXtc1" target="_blank"><img src="img/museu/pinterest-tecnicas.png" width="100%"></a>
                </div>
            </div>
            <h3>Perguntas e Respostas do Museu de Papel</h3>
            <div class="row">
            {% for post in site.posts %}
                {% if post.categories contains "comunidade" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <h4>{{ post.question }}</h4>
                        <p class="text-muted">{{ post.answer }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
