<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Museu de Papel</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    <a href="https://pin.it/2DfoWwz" target="_blank"><img src="img/museu/pinterest-temas.png" width="800px"></a>
                    <a href="https://pin.it/5cKw4RW" target="_blank"><img src="img/museu/pinterest-tecnicas.png" width="800px"></a>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                {% if post.categories contains "comunidade" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <h4>{{ post.question }}</h4>
                        <p class="text-muted">{{ post.answer }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
