<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programação Detalhada</h2>
            </div>
            <div class="row">
              <div class="col-lg-12">
                    <p class="text-muted larger">Bem vindo ao Festival Ciência de Papel! O Festival funciona de 9h às 17h e durante este período teremos atividades contínuas para todas as faixas etárias. As oficinas do Museu tem horários detalhados na programação, mas não precisam de inscrição prévia. Em paralelo, acontecerá a exposição interativa do Museu de Papel, que funciona ininterruptamente de 9h às 17h. Ela é interativa porque você participa conosco, desenhando, pintando e construindo coisas.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h3 class="section-heading">Oficinas</h3>
                  <img width="100%" src="img/programa/d1-oficinas.jpg">
              </div>
              <div class="col-lg-2 text-center">
                <img src="img/anim/gifjacare.gif" width="210px">
              </div>
              <div class="col-lg-10">
                <p class="text-muted larger">Acontecem em horários específicos durante o dia, conforme a programação. Levam em torno de uma hora e não exigem inscrição prévia, é só chegar e participar.</p>
              </div>
              <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/01-papel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Papel Artesanal</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">História do papel e sobre o papel feito artesanalmente, com exemplos com papéis de vários tipos de fibras. Demonstração prática, com a feitura de papel artesanal a partir de papel reciclado e outra com a matéria prima de fibras naturais. Como finalização da oficina, cada participante com orientação individual, realizará sua própria folha de papel artesanal com material disponibilizado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/02-aterrissagem.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aterrissagem Interplanetária</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Os participantes projetam um protótipo que deve pousar em um outro planeta. Miniaturas que representam a tripulação não podem cair do módulo na aterrissagem. Inspirados no método científico, os modelos são comparados, a fim de comprovar ou refutar suas hipóteses e encontrar os pontos de otimização das variáveis envolvidas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/03-avis.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Avis Papyrus</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Evolução é sinônimo de melhoria? Vamos descobrir juntos, criando a nossa própria espécie de ave e explorando os diversos caminhos do processo evolutivo. Prepare-se para jogar dados com o futuro. Qual será o comportamento de sua ave-criatura ao ser exposta aos desafios da seleção natural? Crie, jogue, aprenda!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/04-torus.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Torus de Origami</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Inspirado na figura matemática no toro, no dia do evento será apresentado um Torus gigante e também faremos uma oficina para construirmos juntos o tórus. Vamos falar sobre como estas dobraduras de origami são exploradas na ciência, por exemplo, para construir telescópios espaciais dobráveis.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                  <h3 class="section-heading">Desafio</h3>
                  <img width="100%" src="img/programa/d2-desafio.jpg">
              </div>
              <div class="col-lg-10">
                <p class="text-muted larger">As oficinas desafio têm dois momentos que você pode participar. No primeiro, você aprenderá a construir aviões (manhã) ou foguetes (tarde) de papel e como a ciência pode te ajudar nisso. No segundo, haverá o grande lançamento, em que você vai testar aquilo que aprendeu e construiu em uma competição.</p>
              </div>
              <div class="col-lg-2 text-center">
                <img src="img/anim/gifpinguim.gif" width="210px">
              </div>
              <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/05-aviao.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aviões de Papel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Como construir diferentes modelos de aviões de papel a entender conceitos como método científico, protótipo, técnicas de medição, comparação de medidas. No Grande Lançamento de Aviões (11h), testaremos as suas hipóteses e avaliaremos o seu avião em distância, tempo de voo e acrobacias.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/06-foguete.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Foguetes de Papel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Como construir um foguete de papel observando seus componentes sob a ótica da ciência e método científico envolvendo, protótipos, técnicas de medição, comparação de medidas. No Grande Lançamento de Foguetes (16h), testaremos as suas hipóteses e avaliaremos o seu foguete em distância, tempo no ar com paraquedas e design.</p>
                                </div>
                            </div>
                        </li>
                      </ul>
                  </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                  <h3 class="section-heading">Museu Interativo</h3>
                  <img width="100%" src="img/programa/d3-museu.jpg">
              </div>
              <div class="col-lg-2 text-center">
                <img src="img/anim/gifdino.gif" width="210px">
              </div>
              <div class="col-lg-10">
                <p class="text-muted larger">Museu de papel distribuído por todo o Festival, com peças para você ver e participar na experimentação ou construção.</p>
              </div>
              <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/07-exposicao.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Exposição Guiada</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A exposição guiada acontece ininterruptamente de 9h às 11h. Você vai conhecer o mega papelossauro; origamis gigantes que falam de ciência e ficção científica; a vida secreta das células e vírus de um jeito que você nunca viu; a história da evolução dos pterossauros de papel; um pouco de ficção científica e autômatos. Todas as atividades práticas a seguir acontecem no meio da exposição.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/08-origami.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Criando Origamis e Ciência</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Na exposição de origamis você vai fazer origamis conosco. Você levará o pedacinho do museu de papel que você criou.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/09-bumerangue.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Avião Bumerangue</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A partir dos conceitos de aerodinâmica, você aprenderá a fazer um avião que funciona como um bumerangue.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/10-borboleta.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Borboleta de Equilíbrio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Como funciona o equilíbrio e como você vai criar a sua borboleta que se equilibra em um palito.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/11-micromundos.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>MicroMundos no Papel Gigante</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vamos construir juntos um micromundo em um mega papel no chão para estudar os tecidos celulares, as células, os vírus e como acontece o contágio. Você verá imagens de microscópio e participará de um mega desenho de chão das células. Montaremos vírus de papel e falaremos de como eles invadem células. Tudo isso é acompanhado de uma exposição com modelos de papel de células animais e vegetais, bactérias e vírus.</p>
                                </div>
                            </div>
                        </li>
                      </ul>
                  </div>
            </div>


        </div>
    </section>
