<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programação Detalhada</h2>
            </div>
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/anim/gifjacare.gif" width="210px">
              </div>
              <div class="col-lg-8">
                    <h3 class="section-subheading text-muted">Bem vindo ao Festival Ciência de Papel! O Festival funciona de 10h às 17h e durante este período teremos atividades contínuas para todas as faixas etárias. As oficinas do Museu tem horários detalhados na programação, mas não precisam de inscrição prévia. Em paralelo, acontecerá a exposição interativa do Museu de Papel, que funciona ininterruptamente de 10h às 17h. Ela é interativa porque você participa conosco, desenhando, pintando e construindo coisas.</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h3 class="section-heading">Oficinas</h3>
                  <h3 class="section-subheading text-muted">Acontecem em horários específicos durante o dia, conforme a programação. Levam em torno de uma hora e não exigem inscrição prévia, é só chegar e participar.</h3>
              </div>
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/01-papel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Papel Artesanal</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">História do papel e sobre o papel feito artesanalmente, com exemplos com papéis de vários tipos de fibras. Demonstração prática, com a feitura de papel artesanal a partir de papel reciclado e outra com a matéria prima de fibras naturais. Como finalização da oficina, cada participante com orientação individual, realizará sua própria folha de papel artesanal com material disponibilizado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/02-aterrissagem.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aterrissagem Interplanetária</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Os participantes projetam um protótipo que deve pousar em um outro planeta. Miniaturas que representam a tripulação não podem cair do módulo na aterrissagem. Inspirados no método científico, os modelos são comparados, a fim de comprovar ou refutar suas hipóteses e encontrar os pontos de otimização das variáveis envolvidas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/03-avis.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Avis Papyrus</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Evolução é sinônimo de melhoria? Vamos descobrir juntos, criando a nossa própria espécie de ave e explorando os diversos caminhos do processo evolutivo. Prepare-se para jogar dados com o futuro. Qual será o comportamento de sua ave-criatura ao ser exposta aos desafios da seleção natural? Crie, jogue, aprenda!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/programa/04-torus.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Torus de Origami</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Inspirado na figura matemática no toro, no dia do evento será apresentado um Torus gigante e também faremos uma oficina para construirmos juntos o tórus. Vamos falar sobre como estas dobraduras de origami são exploradas na ciência, por exemplo, para construir telescópios espaciais dobráveis.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
