<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Museu de Papel</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="service-heading">O que é o Museu de Papel?</h4>
                    <p class="text-muted">Uma experiência coletiva, em que participa a comunidade interna (professores, funcionários e alunos) e externa (famílias, escolas e organizações) na construção de um museu todo feito de papel.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Quando e onde será?</h4>
                    <p class="text-muted">A experiência acontecerá no Ginásio Multidisciplinar da Unicamp, no dia 15/10/2022. Ele será parte de um evento maior que estamos promovendo chamado Festival Ciência de Papel.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Por que um Museu de Papel é importante?</h4>
                    <p class="text-muted">O papel é um material acessível e fácil de trabalhar. Um Museu de Papel permite a ampla participação da comunidade, integrando percepções e experiências. Um Museu de Papel pode ser facilmente reproduzido, portanto, nossa experiência pode se repetir por aí afora.</p>
                </div>
            </div>
        </div>
    </section>
